.wrapper {
	border: 10px solid green;
	width: 100px;
	height: 100px;
	background-color: red;
	padding: 10px 20px 30px 40px;  /*上右下左*/
}

.content {
	width: 100px;
	height: 100px;
	background-color: black;
}